@font-face {
    font-family: Pony;
    src: url(../fonts/Allpony-@i_font/);
}
@font-face {
    font-family: Billy;
    src: url(../fonts/Billy\ Ohio.ttf);
}
@font-face {
    font-family: BlackDiamond;
    src: url(../fonts/BlackDiamond.ttf);
}